# Ejercicio 1

### Introducción¶

Vamos a analizar un conjunto de datos de canciones y sus estadísticas por semanas: listas_musica.csv

Es un conjunto de datos que nos permite trabajar los conceptos de pandas y numpy.

El ejercicio será guiado aunque se permite no ver las soluciones para realizar las tareas.

Las columnas del dataset son:

- date: Tipo date - Fecha de la lista.
- rank: Tipo int - Posición del ranking de la canción en esa fecha.
- song: Tipo str - Nombre de la canción.
- artist: Tipo str - Artista.
- last-week: Tipo int - Posición en el ranking de la semana anterior.
- peak-rank: Tipo int - La mejor posición de la canción en el ranking.
- weeks-on-board: Tipo int - Número de semanas que la canción lleva en la lista.

### Carga de librerías¶

Cargue las librerías numpy, pandas y os.

In [1]:
import numpy as np
import pandas as pd
import os

### Carga del dataset¶

Lea el dataset y conviértalo en un dataframe.

Imprima el dataset una vez lo tenga.

In [2]:
df = pd.read_csv('listas_musica.csv')

In [3]:
df

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1

### Limpieza de datos¶

Rellene con 0 usando fillna().

In [4]:
df.isnull().sum() # Para conocer los valores nulos

date                  0
rank                  0
song                  0
artist                0
last-week         32312
peak-rank             0
weeks-on-board        0
dtype: int64

In [5]:
# Sacamos el % de nulos
def saber_nulos(df):
    return df.isnull().sum()*100/df.shape[0]

saber_nulos(df)

date              0.000000
rank              0.000000
song              0.000000
artist            0.000000
last-week         9.788934
peak-rank         0.000000
weeks-on-board    0.000000
dtype: float64

In [6]:
df1 = df.fillna('0') # Rellenamos con 0 los valores nulos

### Imprima algunos valores de ejemplos¶

Use tail() para imprimir algunos valores.

Fíjese en las columnas del dataset.

In [7]:
df1.tail()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
330082,1958-08-04,96,Over And Over,Thurston Harris,0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0,100,1

### Calcule los top 30 artistas¶

Puede usar la función value_counts() y head(...).

Fíjese en usar la columna correspondiente.

In [8]:
df1.columns

Index(['date', 'rank', 'song', 'artist', 'last-week', 'peak-rank',
       'weeks-on-board'],
      dtype='object')

In [9]:
df1['artist'].value_counts().head(30)

artist
Taylor Swift             1023
Elton John                889
Madonna                   857
Drake                     787
Kenny Chesney             769
Tim McGraw                731
Keith Urban               673
Stevie Wonder             659
Rod Stewart               657
Mariah Carey              621
Michael Jackson           611
Chicago                   607
Rascal Flatts             604
Billy Joel                588
The Rolling Stones        585
The Beatles               585
Jason Aldean              572
Aretha Franklin           569
Rihanna                   566
P!nk                      564
Whitney Houston           561
Brad Paisley              559
Neil Diamond              553
George Strait             553
Luke Bryan                543
Carrie Underwood          541
Daryl Hall John Oates     540
The Beach Boys            531
Toby Keith                526
Bee Gees                  516
Name: count, dtype: int64

### Muestre el top 15 de canciones junto con su cantante¶

In [10]:
df1.columns

Index(['date', 'rank', 'song', 'artist', 'last-week', 'peak-rank',
       'weeks-on-board'],
      dtype='object')

In [11]:
Suma_columnas = df1['song'] + ' ' + df1['artist']
top_15_canciones = Suma_columnas.head(15)
print(top_15_canciones)

0                                   Easy On Me Adele
1                 Stay The Kid LAROI & Justin Bieber
2              Industry Baby Lil Nas X & Jack Harlow
3                            Fancy Like Walker Hayes
4                              Bad Habits Ed Sheeran
5     Way 2 Sexy Drake Featuring Future & Young Thug
6                                 Shivers Ed Sheeran
7                            Good 4 U Olivia Rodrigo
8                              Need To Know Doja Cat
9                                Levitating Dua Lipa
10     Essence Wizkid Featuring Justin Bieber & Tems
11               Kiss Me More Doja Cat Featuring SZA
12                          Heat Waves Glass Animals
13                                  Beggin' Maneskin
14     Cold Heart (PNAU Remix) Elton John & Dua Lipa
dtype: object

### Muestre el top 10 de los artistas, canciones y su mejor posición

In [63]:
top_10 = df[['artist', 'song', 'peak-rank']].value_counts().head(10)
print(top_10)

artist                                     song                     peak-rank
The Weeknd                                 Blinding Lights          1            74
Ed Sheeran                                 Shape Of You             1            58
Jason Mraz                                 I'm Yours                6            56
LMFAO Featuring Lauren Bennett & GoonRock  Party Rock Anthem        1            54
The Black Eyed Peas                        I Gotta Feeling          1            54
Justin Timberlake                          Can't Stop The Feeling!  1            52
Taylor Swift                               Shake It Off             1            50
The Chainsmokers Featuring Halsey          Closer                   1            50
Post Malone                                Circles                  1            50
Mark Ronson Featuring Bruno Mars           Uptown Funk!             1            49
Name: count, dtype: int64

In [67]:
Suma_columnas2 = df1['artist'] + '' + df1['song'] + ' - ' + df1['peak-rank'].astype(str)
top_10_opcion_2 = Suma_columnas2.head(10)
print(top_10_opcion_2)

date
2021-11-06                                  AdeleEasy On Me - 1
2021-11-06                The Kid LAROI & Justin BieberStay - 1
2021-11-06             Lil Nas X & Jack HarlowIndustry Baby - 1
2021-11-06                           Walker HayesFancy Like - 3
2021-11-06                             Ed SheeranBad Habits - 2
2021-11-06    Drake Featuring Future & Young ThugWay 2 Sexy - 1
2021-11-06                                Ed SheeranShivers - 7
2021-11-06                           Olivia RodrigoGood 4 U - 1
2021-11-06                             Doja CatNeed To Know - 9
2021-11-06                               Dua LipaLevitating - 2
dtype: object

### Artistas más reproducidos por semanas¶

Transforme la columna date en datetime.

Use set_index para crear un índice en la columna date.

Imprima el dataframe con el nuevo índice.

In [68]:
df1.columns

Index(['rank', 'song', 'artist', 'last-week', 'peak-rank', 'weeks-on-board'], dtype='object')

In [14]:
df1['date'] = pd.to_datetime(df1['date'])

df1.set_index('date', inplace=True)

In [69]:
df1

,rank,song,artist,last-week,peak-rank,weeks-on-board
date,,,,,,
2021-11-06,1,Easy On Me,Adele,1.0,1,3
2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...
1958-08-04,96,Over And Over,Thurston Harris,0,96,1
1958-08-04,97,I Believe In You,Robert & Johnny,0,97,1
1958-08-04,98,Little Serenade,The Ames Brothers,0,98,1
1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0,99,1
1958-08-04,100,Judy,Frankie Vaughan,0,100,1

In [72]:
artistas_por_semana = df1.groupby(df1.index.to_period('W')).agg({'artist': 'value_counts'})
print(artistas_por_semana[ 'artist'])

date                   artist
1958-08-04/1958-08-10  Dean Martin                             3
                       Bobby Freeman                           2
                       Jack Scott                              2
                       Pat Boone                               2
                       Eydie Gorme                             2
                                                              ..
2021-11-01/2021-11-07  Jon Pardi                               1
                       Jimmie Allen & Brad Paisley             1
                       Jason Aldean & Carrie Underwood         1
                       Jameson Rodgers Featuring Luke Combs    1
                       Zac Brown Band                          1
Name: artist, Length: 306328, dtype: int64

### Encuentre los más y menos escuchados según un intervalo de tiempo¶

Puede usar resample(frecuencia)[columna].

Las frecuencias que puede usar son:

- H - Horaria
- D - Diaria
- W - Semanal
- M - Mensual
- A - Anual

Puede usar .agg([columnas]) para agregar los datos

In [59]:
df1.columns

Index(['rank', 'song', 'artist', 'last-week', 'peak-rank', 'weeks-on-board'], dtype='object')